/* Imports for styles files */
@import "_defoult";
@import "_header";
@import "_footer";
/* Main styles stars*/

body {
    background: url(../img/base.png) 0 0 no-repeat;
    text-align: center;
    position: absolute;
}


.menu {
    position: relative;
    top: 35%;

    &__title {

        color: rgb(218, 166, 103);
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
        font-style: italic;
        text-transform: uppercase;
        font-size: 40px;
        cursor: default;

    }

    &__start {
        font-family: 'Open Sans', sans-serif;
        color: rgb(173, 173, 173);
        font-weight: 700;
        font-size: 20px;
        text-transform: uppercase;
        margin-top: 40px;
        cursor: pointer;
        transition: all ease 0.5s;


    }
}

.menu__start:hover {
    color: white;

}



.level {
    position: relative;
    top: 35%;
    display: none;

    &__list {
        font-family: 'Open Sans', sans-serif;
        color: rgb(173, 173, 173);
        font-weight: 700;
        font-size: 20px;
        text-transform: uppercase;
        margin-top: 40px;
        cursor: pointer;
        transition: all ease 0.5s;
        margin-left: -10px;

        li {
            padding: 2px;
        }
    }
}



.hide {
    display: none;
}


.show {
    display: block;
}

.game-window {
    color: white;
    position: relative;
    top: 35%;

    img {
        cursor: pointer;
    }
}

/* Main styles ends*/